.main-chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: black; 
    color: #f4c7c4;
    border: 2.5px solid black;
  }
  
  .chat-container {
    display: flex;
    flex-direction: column;
    flex: 1; /* Takes up remaining space */
    overflow-y: auto; /* Scrollable if content overflows */
    padding: 10px; /* Optional: Add padding */
    background-color: black; /* Optional: Background color for chat area */
  }
  
  .input-bar {
    display: flex;
    padding: 10px;
    background-color: #f4c7c4; /* Background color for input bar */
    margin: 30px 120px;
    border-radius: 8px;
  }
  
  .input-bar input {
    flex: 1; /* Takes up most of the space */
    padding: 8px;
    background-color: #f4c7c4;
    border: none;
    border-radius: 4px; /* Rounded corners */
    outline: none;
    font-weight: 500;
  }

  .input-bar button {
    cursor: pointer; 
    display: block;
    width: 80px;
    padding: 5px 0;
    margin-left: 8px;
    background-color: black;
    color: #f4c7c4;
    border-radius: 5px;
    text-align: center;
    border:none;
  }
  
  .input-bar button:hover {
    background-color: rgb(149, 116, 116);
    color: black;
  }


  .message-item {
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: rgb(56, 55, 55);
    width: fit-content;
    max-width: 40%;
  }

.user-message {
    align-self: flex-end;
    /* text-align: right; */
  }

.bot-message {
align-self: flex-start;
/* text-align: left; */
}