html, body {
    height: 100%;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-color:black;
}

/* Style for the file-upload container */
.file-upload {
    height: 100vh; 
    width: 25vw;
    background-color: #f4c7c4;
    float: left;
    display: flex;
    flex-direction: column; /* Align children vertically */
    padding: 100px 20px 200px 20px; /* Add some padding */
    box-sizing: border-box; /* Include padding in width and height */
}

.file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9dddd;
    padding: 4px;
    border: 1.25px solid #a20d0d;
    border-radius: 5px;
    margin: 10px 2px;
  }
  
.file-item .namess {
    flex-grow: 1;
    max-width: calc(100% - 40px); /* Adjust according to the space needed for the delete button */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Add ellipsis (...) for overflowing text */
    white-space: nowrap; /* Prevent text from wrapping */
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    float: right;
  }
  
  .delete-button:hover {
    color: red;
  }
  .delete-button svg {
    height:100%;
    width: 20px; /* Set the desired width */
    max-height: 20px; /* Set the desired height */
    color: #a83a3a;
  }
/* Other existing styles */
.upload-txt {
    font-size: 18px;
}

.hidden-input {
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.custom-file-upload, .submit-button {
    width: 100px;
    display: block;
    border-radius: 5px;
    background-color: black;
    color: #f4c7c4;
    text-align: center; 
    padding: 5px 0; 
    border:none;
}
.custom-file-upload:hover, .submit-button:hover {
  background-color: rgb(149, 116, 116);
  color: black;
}

.submit-section {
    margin-block-start: auto;
  }
.submit-button {
    /* width: 60px; */
    margin: auto;
}
  